<!--initially 125 lines of HR Code-->
<div class="tab-pane fade in" id="adminTab" ng-controller="adminController">
    <div id="quickAdminActionsBtnGroup" class="btn-group" role="group">
   		<a data-backdrop="static" data-keyboard="false" href="#modifyUsersModal" role="button" class="btn btn-default" data-toggle="modal"> 
			<span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span> System Users
		</a> <!-- end Modify Users button link -->

		<a data-backdrop="static" data-keyboard="false" href="#modifyUsersModal" role="button" class="btn btn-default" data-toggle="modal"> 
			<span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-random"></span><span class="glyphicon glyphicon-user"></span> Swap Roles 
		</a> <!-- end a*&^%$ button link -->
    </div>
</div> <!--end adminTab div-->