/* --------------------------------------
   Layout
   -------------------------------------- */
#financeDSODescription, #quickActionsBtnGroup{
   margin-bottom: 15px;
}

.navbar-brand{
   margin-top: 40px;
}

#submitObjButton{
   margin-right: 17px;
}

#performanceRatingDiv{
   margin-right: 3px; 
   margin-left: 3px;
}

#objPerspDropdownMenu{
   margin-bottom: 5px;
}

/* --------------------------------------
   Typography
   -------------------------------------- */

/*body {
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizelegibilty;
}*/


/* --------------------------------------
   Navbar
   -------------------------------------- */
/*#userInfo {
   float: right;
}*/
#searchInput{
   width: 200px;
}

#searchForm{
   float: auto;
}

#myAccount{
   float:right;
}

.navbar-brand {
   padding: 13px 15px;
}
.navbar-fixed-top{
   padding-bottom: -25px;
}
.navbar-default {
    background-color: #66FF33;
    border-color: #E7E7E7;
}

#section {
    width:350px;
    float:left;
    padding:10px;
}

#listGroupDiv {
   float: left;
   width: 190px;
   background-color: #eeeeee;
}

#foot {
    background-color:black;
    color:white;
    clear:both;
    /*text-align:center;*/
    padding:5px;
}

/
/*@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}/*
   
   
/* --------------------------------------
   Carousel
   -------------------------------------- */



/* --------------------------------------
   Global Styles
   -------------------------------------- */
#successObjAlert {
   margin-top: 20px;
   display: none;
}


/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	
}

/* Large desktop */
@media (min-width: 1200px) {
	
}

/* Style all tables */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  text-align: left;
}